* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    background-color: #F1F0EF;
    background-image: url('img/pokemon-bg10.jpg');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(55, 55, 55, 0.8);
}

::-webkit-scrollbar-thumb {
    background: url('img/pokeball-spinner.png') no-repeat;
    background-size: contain;
    border-radius: 10px;
}

#loading-page {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-image {
    position: fixed;
    z-index: 1000;
    width: 48px;
    height: 48px;
}

.spinner {
    animation: spin 1.4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pokemonCardCtn {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard {
    width: 550px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 5px rgba(55, 55, 55, 0.8);
}

#pokemonCardHeader {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    margin-top: -90px;
    border-radius: 20px;
    height: 50vh;
}

.d-none {
    display: none;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-white img {
    width: 24px;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(257deg) brightness(105%) contrast(101%);
}

.align-item-center {
    display: flex;
}

.pokemonDimension {
    display: flex;
    gap: 12px;
    padding: 4px 36px;
    border: solid;
    border-color: transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 15px;
}

#pokemonType {
    font-size: 15px;
    padding: 4px 36px;
    border: solid;
    border-color: #EE8130;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 120px;
}

#pokemonImg {
    width: 320px;
}

#pokemonArrowLeft,
#pokemonArrowRight {
    width: 50px;
    height: 50px;

}

#pokemonID {
    align-self: center;
    margin-right: 24px;
    margin-top: 24px;
}

.nav a {
    margin-top: 75px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: black;
}

#pokemonInformations {
    height: 70%;
}

#loading-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

table {
    padding: 0 24px;
    border-collapse: inherit;
    width: 100%;
}

table th {
    text-align: left;
    padding: 24px 0 0 8px;
}

table td {
    padding-top: 18px;
}

table td:nth-child(1) {
    min-width: 120px;
}

table td:nth-child(1n +2) {
    padding-left: 24px;
}

table td:nth-child(3) {
    width: 75%;
}

.padding_8_110 {
    padding: 8px 110px;
    font-size: 20px;
}

.font_20 {
    font-size: 20px;
}

.pokemonEvoImg img {
    width: 154px;
    height: 320px;
    object-fit: contain;
}

.pokemonMovesList {
    overflow-y: scroll;
    display: flex;
    max-height: 36vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding: 0 12px;
}

/* CSS for Main Page */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 1.5rem;
}

#logo {
    width: 256px;
    height: 72px;
    object-fit: contain;
}

.search-input {
    display: flex;
    align-items: center;
    gap: 4px;
}

.search-input img {
    width: 36px;
}

#searchInput {
    border: none;
    border-radius: 10px;
    background-color: #F1F0EF;
    padding: 4px;
    outline: none;
    cursor: text;
}

.pokemonSingleCard {
    height: 250px;
    width: 350px;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 5px rgba(55, 55, 55, 0.8);
    cursor: pointer;
}

.p-12px {
    padding: 12px;
}

.single-card-content {
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.single-card-content img {
    width: 200px;
}

.single-card-content-img {
    width: 210px;
    height: 210px;
}

.single-card-content-img img:hover {
    width: 210px;
    transition: all 225ms ease-in-out;
}

.single-card-content span {
    border: solid;
    padding: 4px 36px;
    margin-bottom: 8px;
    border-color: transparent;
    border-radius: 20px;
    max-width: 120px;
    background-color: rgba(255, 255, 255, 0.2);
}

#heart,
#filledHeart,
#pokemonArrowLeft,
#pokemonArrowRight {
    cursor: pointer;
}

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}



#normal {
    filter: invert(75%) sepia(2%) saturate(4300%) hue-rotate(21deg) brightness(88%) contrast(88%);
    width: 54px;
}

#fire {
    filter: invert(59%) sepia(97%) saturate(1633%) hue-rotate(340deg) brightness(97%) contrast(91%);
    width: 54px;
}

#water {
    filter: invert(55%) sepia(46%) saturate(2726%) hue-rotate(199deg) brightness(99%) contrast(89%);
    width: 54px;
}

#electric {
    filter: invert(96%) sepia(99%) saturate(3838%) hue-rotate(329deg) brightness(98%) contrast(98%);
    width: 54px;
}

#grass {
    filter: invert(65%) sepia(92%) saturate(295%) hue-rotate(53deg) brightness(91%) contrast(89%);
    width: 54px;
}

#ice {
    filter: invert(91%) sepia(95%) saturate(240%) hue-rotate(96deg) brightness(91%) contrast(85%);
    width: 54px;
}

#fighting {
    filter: invert(23%) sepia(85%) saturate(1312%) hue-rotate(334deg) brightness(103%) contrast(106%);
    width: 54px;
}

#poison {
    filter: invert(34%) sepia(20%) saturate(3883%) hue-rotate(266deg) brightness(88%) contrast(89%);
    width: 54px;
}

#ground {
    filter: invert(88%) sepia(29%) saturate(867%) hue-rotate(337deg) brightness(93%) contrast(90%);
    width: 54px;
}

#flying {
    filter: invert(53%) sepia(100%) saturate(793%) hue-rotate(212deg) brightness(102%) contrast(91%);
    width: 54px;
}

#psychic {
    filter: invert(58%) sepia(35%) saturate(5846%) hue-rotate(310deg) brightness(97%) contrast(101%);
    width: 54px;
}

#bug {
    filter: invert(75%) sepia(56%) saturate(3280%) hue-rotate(25deg) brightness(102%) contrast(80%);
    width: 54px;
}

#rock {
    filter: invert(61%) sepia(73%) saturate(378%) hue-rotate(13deg) brightness(90%) contrast(89%);
    width: 54px;
}

#ghost {
    filter: invert(32%) sepia(4%) saturate(6214%) hue-rotate(224deg) brightness(107%) contrast(77%);
    width: 54px;
}

#dragon {
    filter: invert(26%) sepia(54%) saturate(7102%) hue-rotate(253deg) brightness(97%) contrast(103%);
    width: 54px;
}

#dark {
    filter: invert(35%) sepia(10%) saturate(1445%) hue-rotate(341deg) brightness(90%) contrast(82%);
    width: 54px;
}

#steel {
    filter: invert(88%) sepia(6%) saturate(851%) hue-rotate(201deg) brightness(86%) contrast(85%);
    width: 54px;
}

#fairy {
    filter: invert(73%) sepia(81%) saturate(459%) hue-rotate(286deg) brightness(88%) contrast(89%);
    width: 54px;
}

@media (max-width: 580px) {
    header div.flex-between {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .pokemonCard{
        width: 450px;
    }
}

@media (max-width: 530px) {
    #pokemonImg{
        width: 225px;
    }

    .pokemonCard{
        width: 380px;
    }

    .pokemonDimension{
        padding: 4px 12px;
    }

    table td:nth-child(1){
        min-width: 70px
    }
}



@media (max-width: 410px){
    .pokemonSingleCard{
        height: 200px;
        width: 300px;
    }

    .single-card-content-img{
        width: 165px;
        height: 165px;
    }

    .single-card-content img{
        width: 155px;
    }

    .single-card-content-img img:hover{
        width: 165px;
    }

    .pokemonCard{
        width: 330px;
    }

    #pokemonImg{
        width: 180px;
    }

    .pokemonDimension{
        padding: 4px;
    }
    
    #pokemonID{
        margin-right: -10px;
        margin-top: 34px;
    }

    .info-container{
        margin-top: -60px;
    }

    table{
        padding: 0 8px;
    }
}

@media (max-width: 350px){
    .pokemonSingleCard{
        height: 150px;
        width: 250px;
    }

    .single-card-content-img{
        width: 110px;
        height: 110gitpx;
    }

    .single-card-content img{
        width: 100px;
    }

    .single-card-content-img img:hover{
        width: 110px;
    }

    .pokemonCard{
        width: 260px;
    }

    #pokemonImg{
        width: 130px;
    }

    .info-container{
        height: 45vh;
    }
}