* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
}

.pokemonCard {
    height: 100vh;
}

#PokemonCardHeader {
    background-color: #EE8130;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.info-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    margin-top: -90px;
    height: 50vh;
}

.d-none {
    display: none;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-between img {
    width: 36px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(257deg) brightness(105%) contrast(101%);
}

.align-item-center{
    display: flex;
}
.pokemonDimension{
    display: flex;
    gap: 12px;
    padding: 4px 36px;
    border: solid;
    border-color: #EE8130;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

#pokemonType {
    padding: 4px 36px;
    border: solid;
    border-color: #EE8130;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 120px;
}

#pokemonImg {
    width: 320px;
}

#pokemonID {
    align-self: center;
    margin-right: 24px;
    margin-top: 24px;
}

.nav a {
    margin-top: 75px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: black;
}

table {
    padding: 24px 48px;
    border-collapse: inherit;
    width: 100%;
}

table th {
    text-align: left;
    padding: 24px 0 0 8px;
}

table td {
    padding-top: 18px;
}

table td:nth-child(1n +2){
    padding-left: 24px;
}

table td:nth-child(3){
    width: 75%;
}

.padding_8_110 {
    padding: 8px 110px;
    font-size: 20px;
}

.font_20 {
    font-size: 20px;
}

.pokemonEvoImg img{
    width: 320px;
}

#evolutionArrow{
    width: 230px;
    height: 230px;
    filter: invert(59%) sepia(97%) saturate(1633%) hue-rotate(340deg) brightness(97%) contrast(91%);
}

.pokemonMovesList{
    overflow-y: scroll;
    display: flex;
    max-height: 36vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding: 0 12px;
}